<!DOCTYPE html>
<html>
    <head><title>HomePage</title>
        
    </head>
    <body>
        <!-- <div id="container">
            <div id="header">
                <nav class="navbar">
                <img src="../../assets/image/ARLOGO.jpeg" alt="logo" class="col-sm-1">
                <h2>AirLines</h2>  
            <li style="display:inline;padding-left:450px;padding-bottom:2px;padding-top: 2px;"><p style="color: black;display: inline;padding-top: 30px;">Register</p></li>
            <li style="display:inline;padding-left:10px;padding-bottom:2px;padding-top: 2px;"><p style="color:black;display: inline;padding-top: 30px;">UserLogin</p></li>
            <li style="display:inline;padding-left:10px;padding-bottom:2px;padding-top: 2px;"><p style="color:black;display: inline;padding-top: 30px;">AdminLogin</p></li>
            <li style="display:inline;padding-left:10px;padding-bottom:2px;padding-top: 2px;"><p style="color:black;display: inline;padding-top: 30px;">Search Flight</p></li>
            <li style="display:inline;padding-left:10px;padding-bottom:2px;padding-top: 2px;"><p style="color: black;display: inline;padding-top: 30px;">My Bookings</p></li><br>
                </nav>
            </div>
        </div> -->
      <div>
          <img src="../../assets/image/Home.jpeg">
      </div>   
<div id="footer">
        
<div class="pt-5 pb-5">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-6 col-lg-3">
                    <div class="text-center text-md-left">
                        <img style="display: center;" src="../../assets/image/ARLOGO.jpeg" alt="logo" class="col-sm=3">          
    <h2>AirLines</h2> 
                    
                        <div class="d-flex flex-row justify-content-center justify-content-md-start mt-3 mb-3">
                            <div class="container">
                                <img src="../../assets/image/google.svg">
                            </div>
                            <div class="container">
                                <img src="../../assets/image/instagram.svg">
                              
                            
                            </div>
                            <div class="container">
                                <img src="../../assets/image/twitter.svg">
                            </div>
                            <div class="container">
                        
                                <img src="../../assets/image/facebook.svg">
                                
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-lg-3 mt-3">
                    <h3 class=" mb-3">Get to know us</h3>
                    <ul class="">
                        <li class="" ><a class="nav-link" routerLink="/aboutus">About Us</a></li>
                       
                    </ul>
                </div>
                <div class="col-6 col-lg-3 mt-3">
                    <h3 class="mb-3">Contact with Us</h3>
                    <ul class="">
                        <li class="">Facebook</li>
                        <li class="">Twitter</li>
                        <li class="">Instagram</li>
                    </ul>
                </div>
                <div class="col-6 col-lg-3 mt-3">
                    <h3 class=" mb-3">
                        Let Us Help You
                    </h3>
                        <li class="">Payment</li>
                        <li class="">Help</li>
                
                </div>
            </div>
        </div>
    </div>
</div></body></html>
