<div>
    <li style="margin-left: 1500px;" class="nav-item"><a class="nav-link"></a>Email Id:{{email}}   <div style="float: right;" class="content">
      <a [routerLink]="['/userlogin/']" style="color: red;">LogOut</a>&nbsp;&nbsp;&nbsp;
      </div></li>
  </div>
<div class="container mt-5 p-130px " >
    <form class="content" >
<h5 style="color:red">Ticket Booked Successfully</h5>
<h5 style="color:red">Flight Id:{{flightid}}</h5>
<h5 style="color:red">Flight Date:{{dday}}</h5>
<h5 style="color:red">Seat Id:{{seatid}}</h5>
<h5 style="color:red">Seat Price:{{seatprice}}</h5>
<h5 style="color:red">Passenger Id:{{passid}}</h5>
<h5 style="color:red">Passenger Name:{{passname}}</h5>
<h5 style="color:red">Ticket Id:{{tid}}</h5>
</form>
</div>
<h3 style="margin-left: 350px;">Wish You Happy Journey</h3>