<div class="about-section">
    <h1>About Us </h1><br>
    <p >Welcome to our airlines. 
        <br>We primarily operate in India’s domestic air travel market as a low-cost carrier with focus on our three pillars – offering low fares,
         being on-time and delivering a courteous and hassle-free experience.<br>
          We have become synonymous with being on-time.<br>
                    We hope to fulfill everyone’s dream of flying!<br>
        With India's economic and business growth, the percentage of traveling population
         is burgeoning.More and more Indians are traveling for both business and pleasure and everyone 
         needs to save both time and money.Our vision is to address that and ensure that flying is for everyone
        With a dynamic fare structure, we offers fares that are affordable and significantly lower than most airlines.
        With contemporary interiors, modern graphics and vibrant colours, we are very much like today’s traveler - practical yet stylish.<br>
         We are not only the most efficient low fare operator domestically but is also comparable with global low cost airlines. 
         <br> We are constantly enhancing our engagement with our passengers to augment their travel experience. From multichannel direct sales
          (including online flight booking, call centers and airport counters),
           we have transformed air travel in India. Today, we are India’s most preferred airline. At our airline, low fares come with high quality.<br>
            Our airlines is not only the most efficient low fare operator domestically but is also comparable with global low cost airlines. 
            We are constantly enhancing our engagement with our passengers to augment their travel experience. From multichannel direct sales
             (including online flight booking, call centers and airport counters), to online flight status checking we have transformed air travel in India<br>
          From aircraft to crew and ground staff the focus is on performance.Each of our employee is groomed to be smart, friendly, efficient and well-informed,
           ensuring that any interaction will make you feel welcome and looked after.Experienced pilots, well-trained cabin crew will make every flight a comfortable one.
           The philosophy is no-frills but high-performance.<br>
         Our airline invests heavily in safety, impeccable maintenance and a high level of expertise.Experienced pilots, engineers and maintenance crew go through rigorous training
          and are hand-picked for their technical knowledge and expertise.So you can rest assured that there is no cut-back in this key area of modern day flying.
                    <br>
         Its  key management personnel are all senior, seasoned professionals and have significant international experience in both launching and managing low-cost airlines.
         With thousands of cumulative man hours in the industry, the management is committed to bring to customers in India all the benefits of the global revolution in the skies.
         
                    <br> 
                  
  Welcome on board India's newest, smartest and most affordable low-fare airline. India, get ready for the power to fly! &nbsp;&nbsp;
                    </p>
  </div>
  
  <h2 style="text-align:center">Our Team</h2>
  
  <div class="row">
    <div class="column">
      
        <img src="/w3images/team1.jpg" alt="Kiran" style="width:100%">
        <div class="container">
          <h2>Kiran</h2>
        
          
          <p>kiran@lntinfotech.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="row">
        <img src="/w3images/team2.jpg" alt="Kavin" style="width:100%">
        <div class="container">
          <h2>Kavin</h2>
        
          
          <p>kavin@lntinfotech.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="row">
        <img src="" alt="Bavana" style="width:100%">
        <div class="container">
          <h2>Bavana</h2>
        
          
          <p>bavana@lntinfotech.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
  
  
  <div class="column">
    <div class="row">
      <img src="" alt="Pavan" style="width:100%">
      <div class="container">
        <h2>Pavan</h2>
        
        
        <p>pavan@lntinfotech.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>
