<header>
<nav>
  <div class="menu-bar" style="color: black;">
        <ul class="nav nav-tabs" style="color: brown;">
          <li style="font-size:20px ;" class="nav-item"><a class="nav-link" routerLink="homepage">Home Page</a></li>
          <li style="font-size:20px ;" class="nav-item"><a class="nav-link"  routerLink="registration">Register</a></li>
          <li style="font-size:20px ;" class="nav-item"><a class="nav-link" routerLink="userlogin">User Login</a></li>
          <li style="font-size:20px ;" class="nav-item"><a class="nav-link" routerLink="adminlogin">Admin Login</a></li>
         
          
        </ul>
      </div>
</nav>
</header>

<router-outlet></router-outlet>
