body{   
    background-size: cover;
        background-image: url(src\assets\image\Cabin.jpg);
        border-style:solid;
        background-position: center;
        background-repeat:no-repeat ;
        height: 100vh;
    }
    
    .content{
        max-width: 750px;
       max-height: 800vh;
       margin:auto;
       background-color:rgb(144, 144, 231);
       padding-left:10px;    
       opacity : 0.9;
   }
    #form{
        background-color:black;
        height: 200px;
       width:  450px;
        margin:auto;
        padding:70px;
        opacity : 0.6;
    }
    label{
        font-size: large;
        color: rgb(17, 15, 15);
    }
.menu-bar{
    background: rgb(0,100,0);
    text-align: center;
}
.menu-bar ul{
    display: inline-flex;
    list-style:none;
    color:#fff
}
.menu-bar ul li{
    width: 200px;
    margin:10px;
    padding: 5px
}